requests[security]==2.21.0
git+https://github.com/havefun-plus/cronjob.git@0.0.14
redis==3.0.1
lxml==4.2.3
gevent==1.4.0
flask==1.0.2
gunicorn==19.9.0
pytest==4.3.0
pytest-mock==1.10.0
pytest-cov==2.6.1
